*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Body{
	padding-top: 200px;
	height: 886px;
	background: url(1.jpg) no-repeat center;
}
.login{
	background-color: rgba(0,0,0,0.8);
	width: 460px;
	left: 50%;
	margin-left: -230px;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0 ,0 ,0.1);
	padding: 20px 0 30px 0;
	position: fixed;
	top: 15%;
}
.header{
	color: #1C8BE3;
	text-align: center;
	padding: 0px 0px 30px 0px;
}
.p-input{
	padding: 5px 0;
	height: 44px;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	width: 340px;
	margin: 0 auto 16px;
	line-height: 14px;
	display: block;
}
.p-input input{
	z-index: 5;
	top: 13px;
	width: 340px;
	background-color: transparent;
	font-size: 20px;
	outline: none;
	border: none;
	color: whitesmoke;
}
.form1 .num{
	outline: none;
	border: none;
	z-index: 5;
	position: absolute;
	top: 13px;
	width: 340px;
	background-color: transparent;
	font-size: 20px;
}
.form1 .pass{
	font-size: 14px;
	position: absolute;
	display: inline-block;
	color: #cacaca;
	top: 22px;
}
span{
	position: absolute;
	color: #ea5d5f;
	font-size: 12px;
	right: 0;
	top: 22px;
	z-index: 9;
}
.btn{
	color: #a0a0a0;
	background-color: #e5e5e5;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	width: 340px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 20px auto;
	display: block;
	transition: background-color 1s,color 1s;
}
.btn:hover{
	background-color: #24C628;
	color: whitesmoke;
}